img {
    width: 300px;
    float:left;
    border-radius: 50%;
    border: 5px  solid red;

}

a:link {
    color: #000000; 
   }
   a:visited {
    color: #ffffff; 
   }
   a:active {
    color: #f00; 
   } 
   a:hover {
    background: #ff0000; 
    color: #ffe;
   }

.one {
    width: 70%;
    margin-left: 320px;
    margin-right: 100px;
    background-color: gray;
    border: 5px  solid red;
    

    
  
    

}

.two {
    background-color: gray;
    margin: 30px;
    border: 5px  solid red;

}
.asas {
    background-color: #ff0000;
    width: 270px;
    float: left
}

.psas {
    background-color: #ffff00;
    width: 20%;
    
}
 
li {
    list-style-image: url(mail.png);
}

