body{
    padding: 0px;
    margin: 0px;
    background: #fbff96;
    font-size: 30px;
}

img {
    margin-left: auto;
 	margin-right: auto;
    display: block;
    height: 400px ;
    width: 300px ;
    border: 3px solid rebeccapurple;
    border-radius: 5%

}
.aaa{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  flex-direction:row;
  justify-content:space-around;
  align-content:center ;
}
.block0{
  text-align: center;
  
}

.block{
  width: 40%;
  height: 800px;
  text-align: center;
  background-color: aqua;
  margin: 10px;
  border: 3px solid red;
}

  .iii{
    display: flex;
  flex-wrap: wrap;
  align-items:center;
  flex-direction:row;
  justify-content:space-around;
  align-content:center ;
    
  }
  .iiii{
    width: 30%;
    
  }
  

@media screen and (max-width:1000px){
  body{
    padding: 0px;
    margin: 0px;
    background: #fbff96;
    font-size: 30px;
}
  .aaa{
    
      display: flex;
      align-items:center;
      flex-direction:column;
      
    
  }
  .block{
    width: 100%;
    background-color: aqua;
    margin: 10px;
    border: 3px solid red;

    img {
        float: left;
        height: 200px ;
        width: 150px ;
      }
    h6{
        width: 40%;
        
      }
    

  
}





a:link {
  color: #000000; 
   }
a:visited {
  color: #000000; 
   }
a:active {
  color: #f00; 
   } 
a:hover {
  background: #ff0000; 
  color: #000;
   }
   .one{
     float: left;
   }

